
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f2f2f2;
  --font-color: #0a0a0a;
  --heading-color: #1d1d1d;
  --font-family:'Inter', sans-serif;
  --border-color: #3a3a3a28;
  --box-shadow: 0px 4px 13px -5px rgba(0,0,0,0.62);
  --btn-bg-color:#000000;
}

[data-theme="dark"] {
  --primary-bg-color: #000000;
  --secondary-bg-color: #3a3a3a;
  --font-color: ##f2f2f2;
  --heading-color: #FFFFFF;
}

body {
  width: 100%;
  height: 100%;
 
}

a{
  text-decoration: none;
  color: var(--heading-color);
}

.btn-style{
  background-color: var(--btn-bg-color); /* Green */
  border-radius: 10px;
  border: none;
  color: white;
  padding:10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: all .3s ease-out;
}
.member-btn{
  background: none;
  border: none;
  color: rgb(75, 75, 204);
  cursor: pointer;
}

/*-----------------ALERT------------------*/
.alert-danger{
  background-color: #ff7979;
  color: #d40909;
}
.alert-success{
  background-color: #83f589e3;
  color: #0b5e0fe3;
}