@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800;900&family=Roboto:wght@400;500;700&display=swap');

/* 
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;

 */

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  max-width: 100vw;
  /* background-color: #000000 ; */
  background-color: whitesmoke;
  

}

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f2f2f2;
  --font-color: #0a0a0a;
  --heading-color: #1d1d1d;
  --font-family:'Inter', sans-serif;
  --border-color: #3a3a3a28;
  --box-shadow: 0px 4px 5px -5px rgba(0,0,0,0.5);
  --box-shadow-white: 0px 4px 13px -5px rgb(255, 255, 255);
  --btn-bg-color:#000000;
}

[data-theme="dark"] {
  --primary-bg-color: #000000;
  --secondary-bg-color: #3a3a3a;
  --font-color: ##f2f2f2;
  --heading-color: #FFFFFF;
  
}

body {
  width: 100%;
  height: 100%;
}


a{
  text-decoration: none;
  color: var(--heading-color);
}
/* .active{
  background-color:  rgba(35, 165, 213, 0.5);
} */
.container-margin{
  margin-top: 90px;
  /* margin: 105px 10px; */
  /* margin-left: 90px; */
  margin-left: 20px;
}
.nasted-box{
  position: absolute;
  top: 40px;
  left: 65px;
  right: 0;
  padding: 10px;
  margin-top: 65px;
}

.glass-background {
  background-color: rgba(255, 255, 255, .5); 
  backdrop-filter: blur(10px); 
  box-shadow: var(--box-shadow);
}
.box {
  color: #000000;
  border-radius: 10px;
  padding: 20px;
  font-size: 150%;
  /* box-shadow: var(--box-shadow); */
}
.follow-btn{
  border: none;
  background-color: #23a6d5;
  padding: 5px;
  border-radius: 10px;
  color: #FFFF;
  font-weight: 600;
  /* position: absolute;
  right: 0; */
  cursor: pointer;

 
}
.follow-btn:hover{
  opacity: .7;
}
.publisher{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.publisher-details{
  display: flex;
  align-items: center;
  width: 100%;
}
.published-date{
  font-size:.6rem;
  font-weight: 500;
  color: #3a3a3a;
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: blueviolet;
  background-image: linear-gradient(to top left, blueviolet, #23a6d5);
  }

.publisher-name{
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
}
.btn-style{
  background-color: var(--btn-bg-color); /* Green */
  border-radius: 10px;
  border: none;
  color: white;
  padding:10px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: all .3s ease-out;
}


.post-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  margin: 10px 0;
  color: #000;
  text-decoration: none;
  transition: all .30s ease-in;
}

.post-title:hover {
  text-decoration: underline blueviolet;
  background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
     background-clip: text;
    -webkit-background-clip: text;
     color: transparent;
}

/* --------------------------------- */



.member-btn{
  background: none;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

/* :::::::::::::::::::: profile-btns  */
.profile-btns{
  padding: .6rem;
  
  font-weight: 500;
  border-radius: .5rem;
  background: none;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: all .2s ease-in;
}
.profile-btns:hover{
  opacity: .7;
}
.profile-btns:active{
  transform: scale(.9);
}
/*-----------------ALERT------------------*/
.alert-danger{
  background-color: #ff7979;
  color: #d40909;

}
.alert-success{
  background-color: #83f589e3;
  color: #0b5e0fe3;
}

/* .element:hover::before {
  content: attr(title);
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  z-index: 1;
} */

